<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" routerLink="/deck"><img src="../../../assets/pokemon.png" alt="" width="150px"></a>
    <a class="nav-link" routerLink="/deck" >Deck</a>
    <a class="nav-link" routerLink="/store">Boutique</a>
    <p class="nav-link">Solde : {{ userInfos.coins }} Pokédollars</p>
    <a routerLink=""><button class="btn btn-outline-secondary my-2 my-sm-0">Logout</button></a>
    <a routerLink=""><button class="btn btn-outline-secondary my-2 my-sm-0" (click)="deleteAccount()">Delete account and logout</button></a>
    <p class="nav-link">Bonjour {{ userInfos.name }}</p>
</nav>